main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

button {
    margin-bottom: 1%;
    height: 4%;
    background-color: #dda15e;
    border: 1px #606c38 solid;
    border-radius: 15%;
    color: #fefae0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

app-casilla {
    border: 1px #6d597a solid;
    height: 200px;

}

